/* fonts */
$main-font: 'PT Sans', sans-serif;

/* colors */
$header-color: #ffffff; // цвет шифта хедера и белый ФОН
$main-color: #81868e; // цвет основного текста
$title-color: #9f9acf; // FON!!!
$color-next: #ebebeb; // color in links!!!

/* size */
$main-font-size: 14px; // font-size
$next-font-size: 30px;
$title-font-size: 24px;
$header-font-size:72px;


$font-height: 1.8; // line-height

$font-weight: 400;

/** Grid variables **/
$container-width: 1170px;
$col-padding: 15px;
